/LectureNotes/*/*.aux
/LectureNotes/*/*.log
/LectureNotes/*/*.out
/LectureNotes/*/*.gz
/LectureNotes/*/*.toc

/LectureNotes/*/quizfigures

/LectureNotes/*/HandOutAndActiveContent/*.aux
/LectureNotes/*/HandOutAndActiveContent/*.log
/LectureNotes/*/HandOutAndActiveContent/*.out
/LectureNotes/*/HandOutAndActiveContent/*.gz

/LectureNotes/*/HomeworkProblems/*.aux
/LectureNotes/*/HomeworkProblems/*.log
/LectureNotes/*/HomeworkProblems/*.out
/LectureNotes/*/HomeworkProblems/*.gz
/LectureNotes/*/HomeworkProblems/*.pdf
